Manifest.toml
*.jl.cov
*.jl.*.cov
*.jl.mem
*.cpp
*.d
*.csv
*.o
*.log
#*.pdf
#*.svg
tmp
bernoulli.bugs
win_tests_*.jl
.ipynb_checkpoints
docs/build/
docs/site/
Examples/OtherExamples/DiffEqBayes/Lorenz/tmp/*
Examples/OtherExamples/DiffEqBayes/LotkaVolterra/tmp/*

